<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dvod2ra7g/image/upload/v1573655073/petpal/banner-pet_wzgsna.jpg);">
  <div class="container">
    <h1>Happy pets travel too!</h1>
    <p>Connecting pet lovers and travel around the World.</p>
    <%= link_to petplaces_path do%>
      <button type="button" class="btn btn-info">Search</button>
    <% end %>
  </div>
</div>
