<div class="navbar navbar-expand-sm navbar-light footer">
  <%= link_to root_path, class: "logo-footer" do %>
    <%= image_tag "https://res.cloudinary.com/dvod2ra7g/image/upload/v1573592598/petpal/petpal_ynpjy4.png" %>
  <% end %>
</div>
