<div class="navbar navbar-expand-sm navbar-light footer">
  <%= link_to root_path, class: "logo-footer" do %>
   <i class="fab fa-twitter-square"></i>
   <i class="fab fa-github-square"></i>
   <i class="fab fa-facebook-square"></i>
   <% end %>
</div>
