.results h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #FF6B4A;
}

.cards.results {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  .pet-card {
    width: 100%;
  }
}

