#search_word{
    background-color: #ececf3;
}
.simple_form.search{
  margin-bottom:50%;
}
#center{
margin-top:20%;
}

.frame{
  border: 2px solid #1EDD88;
  width:40%;
  height:450px;
  margin:10% auto;
  border-radius:10px;

}
