<%= render 'components/banner' %>
<div class="intro-section">
  <h2>A better way to take care of your pet.</h2>
  <img src="https://res.cloudinary.com/dvod2ra7g/image/upload/v1573812589/petpal/intro_qowb5r.jpg" alt="">
  <p>Petpal the new friendly way of take care of your pet, where people treat animals like members of their family. Petpal members all over the world, offering their places, are willing to play, feed and shower your pup with love and attention and care for them like they are our own.</p>
  <p>We chase the absolute highest standards of safety in everything we do! Our goal is to make sure all pups in our care are happy, safe and comfortable.</p>
  <div class="paws-list">
    <div class="features">

    </div>
  </div>
</div>
