<%= render 'components/banner' %>
<div class="intro-section container">
  <h2>A better way to take care of your pet.</h2>
  <p>Petpal the new friendly way of take care of your pet, where people treat animals like members of their family. Petpal members all over the world, offering their places, are willing to play, feed and shower your pup with love and attention and care for them like they are our own.</p>
  <p>We chase the absolute highest standards of safety in everything we do! Our goal is to make sure all pups in our care are happy, safe and comfortable.</p>
  <img src="https://res.cloudinary.com/dvod2ra7g/image/upload/v1573812589/petpal/intro_qowb5r.jpg" alt="">
</div>
<div class="paws-list">
  <div class="features">
    <ul>
      <li>
        <h3><i class="fas fa-bone"></i>Supervised Play</h3>
        <p>Supervised play by trained staff with a constant focus on your pup’s social skills.</p>
      </li>
      <li>
        <h3><i class="fas fa-bone"></i>Seven Days a Week</h3>
        <p>Don't worry about schedules, you'll alwasy find a Petplace near you.</p>
      </li>
      <li>
        <h3><i class="fas fa-bone"></i>Sectioned Play Areas</h3>
        <p>All adecuated places so your pet can have a good time.</p>
      </li>
      <li>
        <h3><i class="fas fa-bone"></i>Sectioned Play Areas</h3>
        <p>All adequate places so your pet can have a good time.</p>
      </li>
      <li>
        <h3><i class="fas fa-bone"></i>Supervised group play</h3>
        <p>Let you pet play with others in a safe and supervised environment.</p>
      </li>
      <li>
        <h3><i class="fas fa-bone"></i>Get the best place</h3>
        <p>Don't just trust us, you can go and check the reviews on each place, to make the best decision based on your needs.</p>
      </li>
    </ul>
  </div>
</div>
