<div class="container">
  <h1>Places</h1>

  <% @petplaces.each do |petplace| %>
    <li>
      <%=  link_to petplace.name, petplace_path(petplace) %>
      <p><%= petplace.details %></p>
      <img src="<%= petplace.images %>" alt="">
    </li>
      <p><% if policy(Petplace).create? %>
        <%= link_to "New petplace", new_petplace_path %>
      <% end %></p>
  <% end %>
</div>
