.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner .form-group {
  margin: 0;
  text-align: left;
  width: 30%;
}

.ap-input-icon {
  right: -10px;
}

.banner-show {
  background-size: cover;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


img {
    vertical-align: middle;
    border-style: none;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
}
