.btn-outline-dark {
    color: #3A4F69;
    border-color: #3A4F69;
    font-family: Roboto Condensed;
    border: 2px solid #3A4F69;
}

.btn-info {
    color: #fff;
    background-color: #3A4F69;
    border-color: #3A4F69;
    font-family: Roboto Condensed;

}
