.petplace {
  margin-top: 20px;
}

.petplace{
  h2,h3,h4 {
    font-family: 'Roboto Condensed', sans-serif;
    color:#FF6B4A;
  }
}

.petplace p{
font-family: 'Roboto Condensed', sans-serif;
color:#8f959c;

}

.container-form{
  display: block;
  text-align: center;
}

.styling-container{
  background-color: #676771f0;
    max-width: 400px;
    max-height: 900px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;

}
