.container-show{
  padding: 50px;

}

.container-show h4{
font-family: 'Roboto Condensed', sans-serif;
color:#FF6B4A;

}

.container-show p{
font-family: 'Roboto Condensed', sans-serif;
color:#8f959c;

}
