
.form-group {
  margin: 0 auto;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  width: 55%;

}

@media (xs-width: 100px) and (max-width: 575px) {
.form-group {
  width: 90%;
}
}

@media (sm-width: 576px) {
.form-group {
  width: 90%;
}
}

@media (med-width: 768px) {
.form-group {
  width: 90%;
}
}

@media (max-width: 992px) {
.form-group {
  width: 50%;
}
}

.form-actions{
  font-family: 'Roboto Condensed', sans-serif;

}

.signup{
  font-family: 'Roboto Condensed', sans-serif;
  color:#1EDD88;
  padding:20px;
}

.form-control {
  display: block;
  width: 105%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 5px;
  -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


label {
  display: block;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  color:white;
  font-family: 'Roboto Condensed', sans-serif;
}

textarea{
  border-radius: 5px;
  border:none;
}


a{
  color:#1EDD88;
  font-family: 'Roboto Condensed', sans-serif;
}

#petplace_details{
  color:#b6b6c2;
  font-family: 'Roboto Condensed', sans-serif;
}

.form-check-input.boolean.optional{
  box-sizing: border-box;
  margin-top: 13px;
}

.form-control.is-valid {
  border-color: #1EDD88;
  padding-right: calc(1.5em + 0.75rem);
  background-position: center right calc(0.375em + 0.1875rem);
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  color:#b6b6c2;
}
