<h1>New appointment</h1>

<div class="container">
  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
    <h2>Flatpickr Demo</h2>
    <%= simple_form_for([@petplace, @appointment]) do |f| %>
      <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.button :submit, "Choose dates", class: "btn btn-primary"%>
    <% end %>
  </div>
</div>
