<h3>Add a review</h3>
<%= simple_form_for [@appointment, @review] do |f| %>
  <%= f.input :rating, collection: 0..5 %>
  <%= f.input :description %>
  <%= f.submit class: "btn btn-primary"%>
<% end %>
